Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.7)
Maintainer: Hubertus Sack <husaft@github.com>
Description: [[description]]
Distribution: development
Depends: default-jre | java6-runtime
